body {
    font-family: Poppins;
    color: #fff;

    background-color: #aaaaaa;
}

.wrapper {
}

.container {
    margin: 0 auto;

    margin-top: 70px;
    padding: 50px 80px;
    width: 1357px;
    border-radius: 40px;

    background: #383838;
}

.header {
    &__bar {
        display: flex;
        justify-content: space-between;
        position: relative;

        &-search {
            height: 60px;
            border-radius: 40px;
            border: none;
            padding: 15px 15px 15px 100px;
            box-sizing: border-box;

            font-size: 18px;
            font-weight: 800;

            box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
            background:
                url(/img/search.png) no-repeat 25px 8px,
                #444;
            color: #fff;

            width: 1015px;

            z-index: 2;
        }

        &-error {
            border: 1px solid red;
        }

        &-options {
            position: absolute;
            padding: 40px 0 0;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            box-sizing: border-box;
            top: 40px;
            left: 0px;
            width: 1015px;
            background-color: #636363;
            opacity: 0.7;
            z-index: 1;

            font-size: 24px;
            font-weight: 600;

            &-display {
                display: none;
            }

            &-city {
                padding: 15px 80px;
                
                &:hover {
                    background: #343434;
                    cursor: pointer;
                }
            }
        }

        &-location {
            width: 20%;
            height: 60px;
            box-sizing: border-box;
            border: none;
            border-radius: 40px;

            padding-left: 60px;

            font-size: 22px;
            font-weight: 800;

            box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
            background:
                url(/img/current-location.png) no-repeat 20px 12px,
                #4cbb17;
            color: #fff;

            &:hover {
                background-color: #398e11;
                color: #cbcbcb;
            }
        }
    }
}

.main {
    &-top {
        display: flex;
        justify-content: space-between;
        margin: 50px 0 50px;

        &__left {
            width: 500px;
            padding: 70px 0 50px 0;
            box-sizing: border-box;

            filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
            background: #444444;
            border-radius: 30px;

            text-align: center;
        }

        &__right {
            display: flex;
            justify-content: space-around;

            padding: 30px;
            border-radius: 30px;

            background: #444444;
            box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
        }
    }

    &-city {
        margin-bottom: 30px;

        font-size: 36px;
        font-weight: 700;
    }

    &-clock {
        font-size: 96px;
        font-weight: 700;
    }

    &-date {
        font-size: 20px;
        font-weight: 400;
    }

    &-bottom {
        display: flex;
        justify-content: space-between;

        &__left {
            padding: 40px 30px;
            filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
            background: #444444;
            border-radius: 30px;
        }

        &__right {
            padding: 40px 70px;
            margin-left: 50px;
            position: relative;
            max-width: 830px;
            overflow: hidden;
            background: #444444;
            border-radius: 30px;
            box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
        }
    }
}

.informations {
    &-first {
    }

    &-temp {
        font-size: 80px;
        font-weight: 700;
        width: 220px;

        &__felike {
            margin-bottom: 40px;

            font-size: 20px;
            font-weight: 600;

            & span {
                font-size: 32px;
                font-weight: 700;
            }
        }
    }

    &-sunrise {
        margin-bottom: 15px;
        display: flex;

        &-title {
            font-size: 20px;
            font-weight: 600;
        }

        &-subtitle {
            font-size: 16px;
            font-weight: 600;
        }
    }

    &-second {
        text-align: center;
        width: 270px;

        & img {
            position: relative;
            width: 270px;
            height: 230px;
            // top: -30px;
        }
    }

    &-sun {
        font-size: 32px;
        font-weight: 600;
    }

    &-third {
        display: flex;
        flex-wrap: wrap;

        width: 260px;

        &__blocks {
            width: 115px;

            flex-grow: 1;
            margin: 7px;

            text-align: center;

            img {
                width: 60px;
                height: 60px;

                margin-bottom: 10px;
            }
        }

        &__numbers {
            margin-bottom: 15px;

            font-size: 20px;
            font-weight: 600;
        }

        &__title {
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.forecast {
    &-title {
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
    }

    &-list {
    }

    &-day {
        display: flex;
        align-items: center;
        justify-content: space-around;

        & img {
            width: 60px;
            height: 60px;
        }
    }

    &-temp {
        margin: 0 40px;
        font-size: 24px;
        font-weight: 600;
        width: 90px;
        text-align: center;
    }

    &-date {
        font-size: 20px;
        font-weight: 600;
        width: 200px;
        text-align: center;
    }
}

.hours {
    &-title {
        margin-bottom: 20px;

        font-size: 32px;
        text-align: center;
        font-weight: 700;
    }

    &-list {
        display: flex;
        overflow: hidden;
    }

    &-item {
        margin: 0 10px;
        padding: 20px 25px;
        background: #373636;

        position: relative;

        left: 0;

        border-radius: 40px;

        text-align: center;
    }

    &-time {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 700;
    }

    &-temp {
        margin: 10px 0px;

        font-size: 20px;
        font-weight: 700;
    }

    &-wind {
        margin-top: 15px;

        font-size: 20px;
        font-weight: 700;
    }

    &-arrow{
        &__left {
            position: absolute;
            top: 50%;
            left: 10px;

            &:hover {
                opacity: 0.8;
            }
        }

        &__right {
            position: absolute;
            right: 10px;
            top: 50%;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
